# Dependencies
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# macOS
.DS_Store

# VSCode
.vscode/

# Python artifacts (if any)
__pycache__/

# Build artifacts
dist/
build/

# Environment & Secrets
*.pem
*.key
*.env
*.env.local
.env.production
firebase-service-account.json

# Vercel
.vercel

# System files
Thumbs.db
